.post-meta {
    margin-bottom: 0.75rem;

    > * {
        + * {
            &:before {
                content: " | ";
                color: #ddd;
            }
        }
    }

    &__date {
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        font-size: 90%;
    }

    &__read-time {}
}