.contact {
    @include media-breakpoint-up(md) {
        @include make-col(9);

        @include make-col-offset(1.5);
    }


    &__info {
        @include make-col(12);

        margin-bottom: 7.5rem;

        ul {
            padding-left: 0;
            list-style-type: none;
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
        }

        li {
            + li {
                margin-top: 0.75rem;
            }
        }

        .lead {
            margin-bottom: 1.5rem;
        }

        a {
            font-size: 1.25rem;
            display: inline-block;

            @include media-breakpoint-up(md) {
                font-size: 2rem;
            }


            &:hover,
            &:active,
            &:focus {
                text-decoration: none;

                .contact__title {
                    // text

                }
            }
        }

        .fa {
            display: inline-block;
            color: $brand-primary;
            margin-right: 0.5rem;
            vertical-align: middle;
            font-size: 1.87500rem;

            @include media-breakpoint-up(md) {
                font-size: 3rem;
            }
        }
    }

    &__icon {
        display: inline-block;
        width: 60px;
        text-align: right;
    }

    &__title {
        display: inline-block;
    }

    h1 {
        margin-bottom: 1rem;
    }

    .accepting {
        margin-top: 3rem;

        h2 {
            @extend .h6;
        }

        .cards {
            .fa {
                color: $navbar-light-color;
                display: inline-block;
                font-size: 1.5rem;
            }
        }

        .fa-cc-visa {
            &:hover {
                color: #1a1f71;
            }
        }

        .fa-cc-mastercard {
            &:hover {
                color: #cc0000;
            }
        }

        .fa-cc-amex {
            &:hover {
                color: #4d4f53;
            }
        }

        .fa-cc-discover {
            &:hover {
                color: #ff6e0c;
            }
        }
    }
}