.post-single {
    @include make-col-ready;

    @include media-breakpoint-up(md) {
        @include make-col(9);

        @include make-col-offset(1.5);
    }


    .viewing {
        @include media-breakpoint-up(lg) {
            @include make-col(12);

            @include make-col-offset(0);
        }


        &__title {
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }

    &__hero {
        width: 100%;
        margin-bottom: 2rem;
    }

    table {
        width: 100%;
        margin-bottom: 1rem;
    }
}