.post-single {
    @include make-col-ready;

    @include media-breakpoint-up(md) {
        @include make-col(9);

        @include make-col-offset(1.5);
    }


    .disclaimer {
        font-size: 0.85rem !important;
        border: 1px solid $brand-primary;
        padding: 0.5rem 1rem;
        font-style: italic;

        + p {
            font-size: 1.15rem;
        }

        + ul, + ol {
            margin-bottom: 2rem;
            margin-top: 2rem;
            font-size: 1.25rem;
        }
    }

    .viewing {
        @include media-breakpoint-up(lg) {
            @include make-col(12);

            @include make-col-offset(0);
        }


        &__title {
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }

    &--wide {
        @include media-breakpoint-up(md) {
            @include make-col(12);

            @include make-col-offset(0);
        }


        .viewing {
            @include media-breakpoint-up(md) {
                @include make-col(6);

                @include make-col-offset(3);
            }
        }
    }

    &__hero {
        width: 100%;
        margin-bottom: 2rem;
    }

    &__content {
        p {
            &:first-child {
                font-size: 1.15rem;
            }
        }

        .heading-bugfix {
            @extend .h2;
        }
    }

    &--diy {
        .post-single__hero {
            @include media-breakpoint-up(md) {
                @include make-col(9);

                @include make-col-offset(1.5);
            }
        }

        .post-single__content {
            @include media-breakpoint-up(md) {
                @include make-col(10);

                @include make-col-offset(1);
            }


            ul,
            ol {
                padding-left: 0;

                li {
                    clear: both;
                    margin: 2rem 0;
                    overflow: hidden;
                    font-size: 1rem;
                    position: relative;
                    padding: 2rem 0 3rem;
                    text-align: center;

                    @include media-breakpoint-up(md) {
                        font-size: 1.25rem;
                    }


                    &:after {
                        position: absolute;
                        content: "";
                        width: 50%;
                        border-bottom: 1px solid $brand-primary;
                        bottom: 0;
                        left: 25%;
                    }

                    &:first-child {
                        margin-top: 0;
                        padding-top: 0;
                    }

                    &:last-child {
                        &:after {
                            content: none;
                        }
                    }

                    .c-gallery-list__item {
                        @include make-col(5);
                    }

                    &.item--has-image {
                        padding: 2rem 0;
                        text-align: left;

                        &:nth-child(even) {
                            .c-gallery-list__item {
                                float: right;
                                margin-left: 2rem;
                            }
                        }

                        &:nth-child(odd) {
                            .c-gallery-list__item {
                                float: left;
                                margin-right: 2rem;
                            }
                        }
                    }
                }
            }
        }
    }

    &--wedding {
        .post-single__images {
            @include make-col-ready;

            @include media-breakpoint-up(md) {
                @include make-col(4);

                @include make-col-offset(0.5);
            }
        }

        .post-single__sections {
            @include make-col-ready;

            @include media-breakpoint-up(md) {
                @include make-col(6);

                @include make-col-offset(0.5);
            }
        }

        h2 {
            + p,
            + ul,
            + ol,
            + blockquote {
                margin-bottom: 2rem;
                font-size: 1rem;
                margin-top: 0.75rem;

                @include media-breakpoint-up(md) {
                    font-size: 1.25rem;
                }
            }

            + p {
                padding-left: 0.5rem;
            }
        }
    }

    &--photoshoot {
        .post-single__images {
            @include make-col-ready;

            @include media-breakpoint-up(md) {
                @include make-col(6);

                @include make-col-offset(0.5);
            }
        }

        .post-single__sections {
            @include make-col-ready;

            @include media-breakpoint-up(md) {
                @include make-col(4);

                @include make-col-offset(0.5);
            }
        }

        .c-gallery-list {
            @include make-row;
        }

        .c-gallery-list__item {
            @include make-col-ready;

            @include make-col(6);

            @include media-breakpoint-up(md) {
                @include make-col(4);
            }
        }

        .o-image {
            margin-bottom: 2rem;
        }
    }

    .c-gallery-list {
        &__item {
            a {
                display: block;
            }
        }
    }

    .o-image {
        margin-bottom: 2rem;
    }

    p {
        + h2 {
            margin-top: 1rem;
        }
    }

    h2, h3, .heading-bugfix {
        border-bottom: 5px solid $brand-primary;
        display: inline-block;
        padding-bottom: 5px;
        margin-bottom: 1rem;

        + ul,
        + ol {
            padding-left: 2rem;
        }

        + blockquote {
            margin-left: 1.5rem;
            margin-top: 1.5rem;
            position: relative;

            @include media-breakpoint-up(md) {
                margin-top: 0.75rem;
                margin-left: 0rem;
            }


            &:before {
                background-image: url(/vendor/canvas/assets/images/quote--skewed.svg);
                display: block;
                content: '';
                height: 32px;
                width: 32px;
                left: -1rem;
                top: -1rem;
                position: absolute;
                background-size: 32px;
                background-repeat: no-repeat;

                @include media-breakpoint-up(md) {
                    left: -2rem;
                    top: -0.5rem;
                }
            }

            p {
                padding-top: 1rem;
                font-style: italic;
            }
        }
    }

    table {
        width: 100%;
        margin-bottom: 1rem;
    }

    &-slug--microblading {
        .post-single__hero {
            display: none;
        }
    }

    &--tutorial {
        .post-single__content {
            ol {
                list-style-type: none;
                padding-left: 0;
                margin-bottom: 5rem;

                &:last-child {
                    margin-bottom: 0;
                }

                li {
                    margin-bottom: 1.75rem;
                    font-size: 1.25rem;
                }
            }

            .c-gallery-list__item {
                margin-top: 1.75rem;
                box-shadow: $popover-box-shadow;
            }

            > .c-gallery-list__item {
                width: 75%;
                margin: 1.75rem auto 1rem;
            }

            .item--has-image {
                .c-gallery-list__item {
                    width: 50%;
                    margin: 1.75rem auto 0;
                }
            }

            .step-count {
                font-weight: bold;
                font-family: $font-family-serif;
                margin-right: 2.5px;
            }
        }
    }
}

html.no-svg .post-single__sections blockquote {
    background-image: url(/vendor/canvas/assets/images/quote--skewed.png);
}