.post-single {
    @include make-col-ready;

    @include media-breakpoint-up(md) {
        @include make-col(9);

        @include make-col-offset(1.5);
    }


    .viewing {
        @include media-breakpoint-up(lg) {
            @include make-col(12);

            @include make-col-offset(0);
        }


        &__title {
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }

    &--wide {
        @include media-breakpoint-up(md) {
            @include make-col(12);

            @include make-col-offset(0);
        }


        .viewing {
            @include media-breakpoint-up(md) {
                @include make-col(6);

                @include make-col-offset(3);
            }
        }
    }

    &__hero {
        width: 100%;
        margin-bottom: 2rem;
    }

    &__content {
        p {
            &:first-child {
                font-size: 1.15rem;
            }
        }
    }

    &__images {
        @include make-col-ready;

        @include media-breakpoint-up(md) {
            @include make-col(4);

            @include make-col-offset(0.5);
        }
    }

    &__sections {
        @include make-col-ready;

        @include media-breakpoint-up(md) {
            @include make-col(6);

            @include make-col-offset(0.5);
        }


        h2 {
            border-bottom: 5px solid $brand-primary;
            display: inline-block;
            padding-bottom: 5px;

            + p,
            + ul,
            + ol,
            + blockquote {
                margin-bottom: 2rem;
                font-size: 1rem;
                margin-top: 0.75rem;

                @include media-breakpoint-up(md) {
                    font-size: 1.25rem;
                }
            }

            + p {
                padding-left: 0.5rem;
            }

            + ul,
            + ol {
                padding-left: 2rem;
            }

            + blockquote {
                &:before {
                    background-image: url(/vendor/canvas/assets/images/quote--skewed.svg);
                    height: 22px;
                    display: block;
                    content: '';
                    height: 32px;
                    width: 32px;
                    position: absolute;
                    left: -2rem;
                    background-size: 32px;
                    background-repeat: no-repeat;
                }

                p {
                    padding-top: 1rem;
                    font-style: italic;
                }
            }
        }
    }

    table {
        width: 100%;
        margin-bottom: 1rem;
    }
}

html.no-svg .post-single__sections blockquote {
    background-image: url(/vendor/canvas/assets/images/quote--skewed.png);
}