@keyframes heartbeat {
    0% {
        transform: scale(1);
    }

    14% {
        transform: scale(1.3);
    }

    28% {
        transform: scale(1);
    }

    42% {
        transform: scale(1.3);
    }

    70% {
        transform: scale(1);
    }
}

@keyframes dropSucculents {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}