.site-footer {
    margin-top: 3.75rem;
    text-align: center;

    ul {
        font-size: 0.75rem;
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 1rem;

        li {
            margin-bottom: 0.5rem;

            @include media-breakpoint-up(sm) {
                display: inline-block;
                margin-bottom: 0rem;
            }


            + li {
                &:before {
                    @include media-breakpoint-up(sm) {
                        content: "\00b7";
                        margin: 0 5px;
                    }
                }
            }
        }
    }

    a {
        &:hover {
            text-decoration: none;
        }
    }

    .flower {
        background-image: url(/vendor/canvas/assets/images/succulents/flower.svg);
        width: 165px;
        height: 83px;
        display: block;
        margin: 0 auto 3.75rem;

        html.no-svg & {
            background-image: url(/vendor/canvas/assets/images/succulents/flower.png);
        }
    }

    .fa-heart {
        margin-left: 2.5px;
        color: #e31b23;
        animation: heartbeat 1.3s infinite;
    }
}